<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Expediente Medico © 2017</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="#">Ayuda</a></li>
      <li><a href="#">Terminos y condiciones</a></li>
    </ul>
  </div>
</footer>
