<div class="mdl-layout__drawer">
  <span class="mdl-layout__title">"Dia-actual"</span>
  <nav class="mdl-navigation">
    <a href="#" class="mdl-navigation__link">Paciente llego</a>
    <div class="drawer-separator"></div>
    <a href="#" class="mdl-navigation__link">Paciente pendiente</a>
  </nav>
</div>
