<%- layout('layout') %>
<h1>Doctor</h1>

<a href="/logout">
  <button type="button" class="button buttonBlue mdl-js-button mdl-js-ripple-effect">Cerrar sesion
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</a>
