<%- layout('layout') %>
<hgroup>
  <h1>Expediente Medico</h1>
</hgroup>
<form>
  <div class="group">
    <input type="email"><span class="highlight"></span><span class="bar"></span>
    <label>Correo</label>
  </div>
  <div class="group">
    <input type="password"><span class="highlight"></span><span class="bar"></span>
    <label>Contraseña</label>
  </div>
  <button type="button" class="button buttonBlue mdl-js-button mdl-js-ripple-effect">Iniciar sesion
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
<footer><img src="../images/ExpedienteMedico-logo.png">
  <p>Aun no formas parte? <a href="/signup">Registrate</a> aqui!</p>
</footer>
