


<!-- <form>
  <div class="group">
    <input type="text"><span class="highlight"></span><span class="bar"></span>
    <label>Correo</label>
  </div>
  <div class="group">
    <input type="email"><span class="highlight"></span><span class="bar"></span>
    <label>Contraseña</label>
  </div>
  <button type="button" class="button buttonBlue">Iniciar Sesion
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
<footer><a href="#" target="_blank"><img src="./images/ExpedienteMedico-logo.png"></a>
  <p>Aún no eres miembro? <a href="#" target="_blank">Registrate</a></p>
</footer> -->
