<% layout('layout') -%>
  <h1>Formulario para doctor</h1>
  <p>durante toda esta seccion se podran hacer las anotaciones
      asi mismo como la observacion de los datos registrados una
       vez por el paciente gracias a la ayuda del recepcionista</p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
