<%- layout('layout') %>
<div class="container">
  <div class="row center_vertical">
    <div class="col s12 m6 offset-m3">
      <div class="card white darken-1 ">
        <a class="btn-floating btn-medium waves-effect waves-light position" href="/"><i class="material-icons">arrow_back</i></a>
        <div class="card-content black-text center-align">
          <span class="card-title">
            <img src="images/ExpedienteMedico-logo.png" style="height:40px;">
            Expediente Medico
          </span>

          <form method="post">
            <div class="row">
              <% if (login_error.length > 0) { %>
              <blockquote class="error_text">
                <i class="material-icons prefix">error</i>
                <span><%= login_error %></span>
              </blockquote>
              <% } %>
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" name="email" class="validate">
                <label for="email" data-error="Verifica tu correo" data-success="Correo confirmado">Correo</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">security</i>
                <input id="password" type="password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=_-])(?=\S+$).{8,}$" name="password" class="validate">
                <label for="password" data-error="Minimo 8 caracteres, 1 mayuscula, y un caracter especial" data-success="Contraseña asignada">Contraseña</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light center-align" type="submit">Iniciar Sesion
              <i class="material-icons left">account_circle</i>
            </button>
          </form>
          <br>
          <p>¿Aún no formas parte? <a href="/signup">Registrate</a> aqui!</p>
        </div>
      </div>
    </div>
  </div>
</div>
