<%- layout('layout') %>
<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="card white darken-1">
      <a class="btn-floating btn-large waves-effect waves-light position" href="/"><i class="material-icons">arrow_back</i></a>
      <div class="card-content black-text center-align">
        <span class="card-title">
          <img src="images/ExpedienteMedico-logo.png" style="height:70px;">
          Expediente Medico
        </span>

        <form method="post">
          <div class="row">
            <% if (errors.length > 0) { %>
              <blockquote class="error_text">
                <i class="material-icons prefix">error</i>
                <span><%= errors %></span>
              </blockquote>
              <% } %>
              <h3>Datos del medico</h3>
              <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                <input id="name" type="text" pattern="[A-Z,a-z, ]*" name="name" class="validate" required>
                <label for="name" data-error="Solamente caracteres">Nombre Completo</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" name="email" class="validate" required>
                <label for="email" data-error="Verifica tu correo" data-success="Correo confirmado">Correo</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">security</i>
                <input id="password" type="password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=_-])(?=\S+$).{8,}$" name="password" class="validate" required>
                <label for="password" data-error="Minimo 8 caracteres, 1 mayuscula, y un caracter especial" data-success="Contraseña asignada">Contraseña</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">text_format</i>
                <input id="nombre_consultorio" type="text" pattern="^[A-Z,a-z, ]*" name="nombre_consultorio" class="validate">
                <label for="nombre_consultorio" data-error="Solamente caracteres">Nombre del consultorio</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">text_format</i>
                <input id="especialidad" type="text" pattern="^[A-Z,a-z, ]*" name="especialidad" class="validate">
                <label for="especialidad" data-error="Solamente caracteres">Especialidades</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">work</i>
                <input id="cedula_prof" type="number" pattern="^-?[0-9]*(\.[0-9]+)?" name="cedula_prof" class="validate" required>
                <label for="cedula_prof" data-error="Solamente números">Cedula Profesional</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">work</i>
                <input id="cedula_esp" type="number" pattern="^-?[0-9]*(\.[0-9]+)?" name="cedula_esp" class="validate" required>
                <label for="cedula_esp" data-error="Solamente números">Cedula de Especialidad</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">school</i>
                <input id="universidad" type="text" pattern="^[A-Z,a-z, ]*" name="universidad" class="validate">
                <label for="universidad" data-error="Solamente caracteres">Escuela de procedencia</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">place</i>
                <input id="domicilio" type="text" name="domicilio">
                <label for="domicilio">Ubicacion del consultorio</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="telefono" type="number" pattern="[789][0-9]{9}" name="telefono" class="validate">
                <label for="telefono" data-error="Verifica el numero">Telefono de contacto</label>
              </div>
            </div>

            <h3>Datos del asistente</h3>
            <div class="input-field col s12">
              <i class="material-icons prefix">person</i>
              <input id="name_assis" type="text" pattern="[A-Z,a-z, ]*" name="name_assis" class="validate" required>
              <label for="name_assis" data-error="Solamente caracteres">Nombre Completo</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">email</i>
              <input id="email_assis" type="email" name="email_assis" class="validate" required>
              <label for="email_assis" data-error="Verifica tu correo" data-success="Correo confirmado">Correo</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">security</i>
              <input id="password_assis" type="password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=_-])(?=\S+$).{8,}$" name="password_assis" class="validate" required>
              <label for="password_assis" data-error="Minimo 8 caracteres, 1 mayuscula, y un caracter especial" data-success="Contraseña asignada">Contraseña</label>
            </div>

            <button class="btn waves-effect waves-light center-align" type="submit">Registrarme
              <i class="material-icons left">send</i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
